{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% include 'partials/css.html.twig' %}
        {% if theme_config.css_aerendur.enabled or theme_config.css_aerendur.enabled is not defined %}
          {% do assets.addCss('theme://css/aerendur.css',110) %}
        {% endif %}
        {% if theme_config.css_child_theme.enabled or theme_config.css_child_theme.enabled is not defined %}
          {% do assets.addCss('theme://css/template.css',109) %}
        {% endif %}
        {% if theme_config.css_custom.enabled %}
          {% do assets.addCss('theme://css/custom.css',10) %}
        {% endif %}
        {% if page.header.animate_css == "disabled" %}
        {% elseif page.header.animate_css == "enabled" or theme_config.animate_css.enabled %}
          {% do assets.addCss('theme://css/animate.css',115) %}
        {% endif %}
        {% if page.header.fontawesome == "disabled" %}
        {% elseif page.header.fontawesome == "enabled" or theme_config.fontawesome.enabled %}
          {% do assets.addCss('https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css', 115) %}
        {% endif %}
        {% do assets.addCss('http://yui.yahooapis.com/pure/0.6.0/pure-min.css', 114) %}
        {% set customization %}
          {% include('css/customization.css.twig') %}
        {% endset %}
        {% do assets.addInlineCss(customization,110) %}
    {% endblock %}
    {{ assets.css() }}
    {% do assets.addJs('jquery', 100) %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body id="top" class="{{ page.header.body_classes }}">

{% block header %}
  <div class="header">
  {% if page.header.header == "disabled" %}
  {% elseif page.header.header == "enabled" or theme_config.header.enabled %}
    <div class="header">
      <div class="wrapper">
        {% block branding %}
          {% include 'partials/branding.html.twig' %}
        {% endblock branding %}
        {% block header_navigation %}
          <nav class="main-nav">
            {% include 'partials/navigation.html.twig' %}
          </nav>
        {% endblock header_navigation %}
      </div>
    </div>
  {% endif %}
  </div>
{% endblock %}

{% block body %}
    <div class="background-image-container">
      <div class="background-image-src">
      </div>
      {% if page.header.background_blur == "disabled" %}
      {% elseif page.header.background_blur == "enabled" or theme_config.customization.global.background_blur.enabled %}
        <div class="background-image-src blurred-image">
        </div>
      {% endif %}
      {% if page.header.background_gradient == "disabled" %}
      {% elseif page.header.background_gradient == "enabled" or theme_config.customization.global.background_blur.enabled %}
        <div class="background-gradient">
        </div>
      {% endif %}
    </div>
    <section id="body">
        <div class="wrapper">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
  {% if page.header.footer == "disabled" %}
  {% elseif page.header.footer == "enabled" or theme_config.footer.enabled %}
    <div class="footer-wrapper">
      {% include 'partials/footer.html.twig' %}
    </div>
    {% if page.header.attribution == "disabled" %}
    {% elseif page.header.attribution == "disabled" or theme_config.footer.attribution.enabled %}
      <div class="footer-attribution-wrapper">
        <div class="footer-attribution-content row">
          <div class="footer-attribution small-12 columns">
            {{ theme_config.footer.attribution.content|markdown }}
          </div>
        </div>
      </div>
    {% endif %}
  {% endif %}
{% endblock %}

{% block bottom %}
    {% block javascripts %}
      {% include 'partials/js.html.twig' %}
      {% do assets.addJS('theme://bower_components/what-input/what-input.js',{'priority':105,'group':'bottom'}) %}
      {% if page.header.wow_js == "enabled" or theme_config.wow_js.enabled %}
        {% do assets.addJS('theme://js/wow.min.js',{'priority':101,'group':'bottom'}) %}
        {% do assets.addInlineJS('var wow = new WOW(); wow.init();',{'priority':100,'group':'bottom'}) %}
      {% endif %}
    {% endblock %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
